{% extends 'base.html' %}
{% block title %}Птица{% endblock title %}
{% block header %}{{parrots.name}}{% endblock header %}
{% block content %}
<div class="col-sm-3">
    <div class="w-25 p-3">
        <img src="{{ parrots.image_url}}" alt="img" height="400" width="320" class="rounded-lg border border-success">
    </div>
    <div class="w-auto p-3">
        <p>Прозвище: {{parrots.name}}</p>
        <p>Возраст: {{parrots.age}}</p>
        <p>Порода: {{parrots.breed}}</p>
        <p>Примечание: {{parrots.description}}</p>
    </div>
</div>
{% endblock content %}